services:
  PrestaShop\PrestaShop\Adapter\Product\Image\ProductImagePathFactory:
    class: ScaleflexDam\Adapter\ProductImagePathFactoryDecorator
    arguments:
      - '@=service("prestashop.adapter.shop.url.product_image_folder_provider").getUrl()'
      - '!php/const _PS_TMP_IMG_DIR_'
      - '@=service("prestashop.adapter.legacy.context").getContext().language.iso_code'

  prestashop.adapter.product.image.product_image_filesystem_path_factory:
    class: ScaleflexDam\Adapter\ProductImagePathFactoryDecorator
    arguments:
      - '!php/const _PS_PRODUCT_IMG_DIR_'
      - '!php/const _PS_TMP_IMG_DIR_'
      - '@=service("prestashop.adapter.legacy.context").getContext().language.iso_code'
