/**
* Scaleflex DAM - Admin Styles
*/
#scaleflex-dam-modal {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.scaleflex-dam-modal-content {
    background-color: #ffffff;
    margin: 3% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 85%;
    height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.scaleflex-dam-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.scaleflex-dam-modal-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.scaleflex-dam-modal-close {
    color: #888;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
    transition: color 0.2s;
}

.scaleflex-dam-modal-close:hover,
.scaleflex-dam-modal-close:focus {
    color: #d9534f;
    text-decoration: none;
}

#scaleflex-dam-widget-container {
    width: 100%;
    height: 100%;
}

.filerobot-u-reset {
    top: 0 !important;
}

.SfxModal-Wrapper label {
    margin-bottom: inherit;
}